@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Poppins', 'Poppins Fallback', Arial, Helvetica, sans-serif;
}

.custom-cluster {
	&-inner {
		border-radius: 100px;
		color: #212121;
		width: 36px;
		height: 36px;
		opacity: 0.9;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: bold;

		&-safe {
			background-color: #ffff00;
			border: #ffff00 2px solid;
		}

		&-low {
			background-color: #ffd700;
			border: #ffd700 2px solid;
		}

		&-mid-low {
			background-color: #ffaf00;
			border: #ffaf00 2px solid;
		}

		&-mid {
			background-color: #ff8700;
			border: #ff8700 2px solid;
		}

		&-mid-high {
			background-color: #ff5f00;
			border: #ff5f00 2px solid;
		}

		&-high {
			background-color: #eb2f2f;
			border: #eb2f2f 2px solid;
		}
	}
}
